interface=${OIAB_AP_IFACE}
bind-interfaces
listen-address=${OIAB_AP_IP}
dhcp-authoritative
dhcp-range=${OIAB_DHCP_RANGE}
dhcp-option=option:router,${OIAB_AP_IP}
dhcp-option=option:dns-server,${OIAB_AP_IP}
domain-needed
bogus-priv
local=/local/
address=/oiab.local/${OIAB_AP_IP}
address=/maps.local/${OIAB_AP_IP}
address=/daemon.local/${OIAB_AP_IP}
address=/daemon-adventures.local/${OIAB_AP_IP}
address=/overland.daemonadventures.net/${OIAB_AP_IP}
address=/mobile.daemonadventures.net/${OIAB_AP_IP}
address=/captive.apple.com/${OIAB_AP_IP}
address=/www.apple.com/${OIAB_AP_IP}
address=/connectivitycheck.gstatic.com/${OIAB_AP_IP}
address=/connectivitycheck.android.com/${OIAB_AP_IP}
address=/clients3.google.com/${OIAB_AP_IP}
address=/www.msftconnecttest.com/${OIAB_AP_IP}
address=/dns.msftncsi.com/${OIAB_AP_IP}
