# Overland In A Box base configuration.
OIAB_HOSTNAME=overland.daemonadventures.net
OIAB_BIND_HOST=0.0.0.0
OIAB_PORT_HTTP=8080
OIAB_PORT_HTTPS=8443
OIAB_DATA_DIR=/data/oiab
OIAB_DEV_MODE=true
OIAB_MAP_PACK_REGISTRY=/data/oiab/maps/registry.json
OIAB_ENABLE_OPTIONAL_SERVICES=false
OIAB_DEFAULT_MAP_APP=maps_v2
OIAB_CERT_MODE=existing

